*{padding: 0;
margin: 0;
box-sizing: border-box;}

body{
    margin-top: 30px;
    background-color: #222;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

section.menu{
    z-index: 1000;
    text-transform: uppercase;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: purple;
}
section.menu a{
    border-radius: 100%;
    background-color: violet;
    font-size: medium;
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
section.menu a:hover{
    background-color: palevioletred;
    color: greenyellow;
    font-size: large;
}
section.menu a:active{
    background-color: cyan;
    color: blue;
}
h1{
    margin-top: 30px;
    color: #555;
    text-align: center;
}
section.images {
    position: relative;
    top: 20px;
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: #444;
    border-radius: 15px;
}
section.images img{
    border-radius: 20px;
    width: 30%;
    height: 80%;
}
section.text1{
    width: 80%;
    height: 300px;
    border-radius: 15px;
    color: azure;
    position: relative;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 40px;
    font-size: large;
    background-color: #444;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 20px;
}
section.info{
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #555;
    width: 200px;
    justify-content:center ;
    text-align: center;
    align-items: center;
    color: lightcoral;
    border-radius: 15px;
    height: 150px;
    top: 60px;
    margin-bottom: 50px;
}
footer{
    display: flex;
    background-color: #555;
    position: fixed;
    bottom: 0;
    width: 100%; 
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 10px; 
}


@media (max-width: 800px)
{
    section.images {
        position: relative;
        top: 20px;
        width: 90%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        background-color: #444;
        border-radius: 15px;
    }
    section.images img{
        border-radius: 20px;
        width: 30%;
        height: 80%;
    }



}


@media (max-width: 465px)
{
    section.images {
        position: relative;
        top: 20px;
        width: 70%;
        height: 400px;
        display: flex;
        flex-direction: column;
        background-color: #444;
        border-radius: 15px;
    }
    section.images img{
        border-radius: 20px;
        width: 80%;
        height: 30%;
    }
    section.menu a{
        font-size: small;
    }



}
